<div class="row g-1">
    <label for="discipline-{{ discipline.name }}"
           class="col-form-label-sm col-6">
        {{ discipline.name }}
    </label>
    <div class="dot-matrix col-6">
        <input *ngFor="let index of [5,4,3,2,1]"
               id="discipline-{{ discipline.name }}"
               type="radio"
               class="form-check-input"
               [checked]="index <= discipline.ranks"
               (click)="onDotClick(index)"
               [disabled]="isViewState()"
        />
    </div>
</div>
<ng-container *ngIf="isViewState()">
    <div class="row g-1" *ngFor="let power of discipline.powers">
        <p class="col col-2 rank">{{ power.rank }}:</p>
        <p class="col col-10 name">{{ power.name }}</p>
    </div>
</ng-container>
<ng-container *ngIf="isEditState()">
    <div class="row g-1 edit-headers">
        <label class="col col-2">Lvl</label>
        <label class="col col-10">Power</label>
    </div>
    <div class="row g-1 edit-power" *ngFor="let power of discipline.powers">
        <div class="col col-2">
            <input type="number"
                   min="1"
                   max="5"
                   class="form-control"
                   [(ngModel)]="power.rank"
            />
        </div>
        <div class="col col-10">
            <input type="text"
                   class="form-control"
                   [(ngModel)]="power.name"
            />
        </div>
    </div>
</ng-container>
