@import '../ability/ability.component';

p {
    font-size: 0.875rem;
    margin: 0.375rem 0 0 0;

    &.rank {
        text-align: right;
        padding-right: 0.5rem;
    }
    &.name {
        border-bottom: 1px solid $medium-black;
        padding-left: 0.25rem;
    }
}

.edit-headers {
    label {
        font-size: 0.875rem;
        padding-left: 0.25rem;
    }
}

.edit-power {
    margin-bottom: 0.25rem;

    input[type=text],
    input[type=number] {
        font-size: 0.875rem;
        padding: 0.25rem 0.375rem;
    }
}
