// https://coolors.co/181d27-8c001a-1f7a8c-bcb8b1-f4f3ee
$raisin-black: #181d27;
$carmine: #8c001a;
$metallic-seaweed: #1f7a8c;
$pale-silver: #bcb8b1;
$alabaster: #f4f3ee;

// misc
$dark-red: #941B0C;
$medium-black: #464646;
