<section class="card sheet-border">

    <div class="sheet-controls">
        <button (click)="toggleState()" class="btn btn-primary">
            {{ (state.value === CharacterSheetStates.VIEW) ? CharacterSheetStates.EDIT : CharacterSheetStates.VIEW }}
        </button>
    </div>

    <section class="sheet-section">
        <h2>Character Details</h2>
        <div class="row row-cols-3">
            <div class="col">
                <app-detail label="Name"
                            [(value)]="character.name"
                            [state]="state">
                </app-detail>
                <app-detail label="Concept"
                            [(value)]="character.concept"
                            [state]="state">
                </app-detail>
                <app-detail label="Chronicle"
                            [(value)]="character.chronicle"
                            [state]="state">
                </app-detail>
            </div>
            <div class="col">
                <app-detail label="Ambition"
                            [(value)]="character.ambition"
                            [state]="state">
                </app-detail>
                <app-detail label="Desire"
                            [(value)]="character.desire"
                            [state]="state">
                </app-detail>
                <app-detail label="Predator Type"
                            [(value)]="character.predatorType"
                            [state]="state">
                </app-detail>
            </div>
            <div class="col">
                <app-detail label="Clan"
                            [(value)]="character.clan"
                            [state]="state">
                </app-detail>
                <app-detail label="Generation"
                            [(value)]="character.generation"
                            [state]="state">
                </app-detail>
                <app-detail label="Sire"
                            [(value)]="character.sire"
                            [state]="state">
                </app-detail>
            </div>
        </div>
    </section>

    <hr />
    <section class="sheet-section">
        <h2>Attributes</h2>
        <div class="row row-cols-3 g-4 gy-2">
            <div class="col" *ngFor="let type of AbilityType.all()">
                <ng-container *ngFor="let attribute of character.getAttributesByType(type)">
                    <app-attribute [attribute]="attribute" [state]="state"></app-attribute>
                </ng-container>
            </div>
        </div>
    </section>

    <hr />
    <section class="sheet-section">
        <h2>Skills</h2>
        <div class="row row-cols-3 g-4 gy-2">
            <div class="col" *ngFor="let type of AbilityType.all()">
                <ng-container *ngFor="let skill of character.getSkillsByType(type)">
                    <app-skill [skill]="skill" [state]="state"></app-skill>
                </ng-container>
            </div>
        </div>
    </section>

    <hr />
    <section class="sheet-section">
        <h2>Disciplines</h2>
        <div class="row row-cols-3 g-4 gy-2" *ngFor="let row of this.disciplineRows">
            <div class="col" *ngFor="let discipline of row">
                <app-discipline [discipline]="discipline" [state]="state"></app-discipline>
            </div>
        </div>
    </section>

</section>
