
.sheet-border {
    max-width: 960px;
}

hr {
    margin: 0 3rem;
    height: 2px;
}

.sheet-section {
    padding: 0 3rem 1rem 3rem;

    //&:first-of-type {
    //    padding: 0 2.25rem 1rem 1rem;
    //}
    h2 {
        font-size: 1.5rem;
        margin: 0.5rem 0;
        text-align: center;
    }
    label {
        font-weight: bold;
        text-align: right;
    }
}
