<div class="row g-1 selectable" [class.selected]="selected">
    <label for="skill-{{skill.name}}"
           class="col-form-label-sm col-12 col-xl-6">
        {{ skill.name }}
    </label>
    <div class="dot-matrix col-12 col-xl-6">
        <input *ngFor="let index of [1,2,3,4,5]"
               id="skill-{{skill.name}}"
               type="radio"
               class="form-check-input"
               [checked]="index <= skill.ranks"
               (click)="onDotClick(index)"
               [disabled]="isViewState()"
        />
    </div>
</div>
