
$medium-black: #464646;
$dot-color: $medium-black;


label {
    font-size: 1rem;
    font-weight: bold;
}

.dot-matrix {
    align-self: center;

    input[type=radio] {
        float: right;
        margin: 0.125rem;

        &:checked {
            border-color: $dot-color;
            background-color: $dot-color;
            background-image: none !important;

            &:disabled {
                // Override Bootstrap opacity 0.5 for disabled inputs
                opacity: 1;
            }
        }
    }
}
