@import '../../shared/styles/color-palette';
@import '../../shared/styles/media-queries';

// Local color palette
$ability-select-color: lighten($carmine, 10%);
$dot-color: $raisin-black;


label {
    font-size: 1rem;
    font-weight: bold;
}

.dot-matrix {
    align-self: center;
    display: flex;
    margin-top: 0;
    margin-bottom: 0.25rem;

    @include media-query-xl() {
        justify-content: flex-end;
        margin-top: 0.25rem;
    }

    input[type=radio] {
        margin: 0.125rem;

        &:checked {
            background-color: $dot-color;
            background-image: none !important;
            border-color: $dot-color;

            &:disabled {
                // Override Bootstrap opacity 0.5 for disabled inputs
                opacity: 1;
            }
        }
    }
}

.selectable,
.selectable > * {
    text-decoration: none;
    color: inherit;
    cursor: pointer;

    &.selected {
        background-color: $ability-select-color;
    }
}
